body {
  background-color: #4d4e4f;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Phet Menu*/
  .phet-head {
    /*background-color: #ffffff;*/
    padding: 10px;
  }
  .logo img { 
    width: 156px;
    height: 74px;
    margin: 10px 0 10px 0;
    /*text-indent: -9999px;*/
  }
  .phet-head span{
    margin: 10px 0 10px 0;
    font-size: 45px;
  }
  .phet-filter-btn{
    margin: 10px 0 10px 0;
  }
/* Phet Menu*/

/* Phet Attribution*/
.phet-attribution {
  color: #FFFFFF;
}

.phet-attribution span{
  font-size: 1vw;
}

.phet-attribution ul {
  padding-left: 0;
  font-size: 1vw;
}  

.phet-attribution ul li {
  list-style: none;
  margin-left: 20px;
}
/* Phet Attribution*/

.filterDiv1 {
  /*float: left;*/
  background-color: #2196F3;
  color: #ffffff;
  line-height: 10px;
  text-align: center;
  margin: 2px;
  font-size: 15px;
  cursor: pointer;
  /*display: none;*/
  
  border: none;
}

.show {
    display: inline-block;
    width: max-content;
}

.show p {
  margin: 0 10px;
}

.containerFilter {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active, .filterDiv1.active {
  background-color: #666;
  color: white;
}

/*--------------- phet resources ---------------*/
.item-list {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 216px;
    margin: 20px 10px;
    background-color: #2196F3;
    padding: 5px;
    border-radius: 5px;
}
.item-list:hover {
    background-color: grey;
}
.item-list img {
    width: 216px;
    height: 172px;
    background-color: grey;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    text-align: center;
    font-size: 20px;
}

  /*--------------- phet resources link ---------------*/
  .item-list a:link {
      text-decoration: none;
      color: #ffffff;
  }

  .item-list a:visited {
      text-decoration: none;
      color: #ffffff;
  }

  .item-list a:hover {
      text-decoration: underline;
  }

  .item-list a:active {
    text-decoration: underline;
  }

  @media only screen and (max-device-width: 1600px) {
    .phetSrc {
      margin-left: 35px;
    }
  }
  /*--------------- phet resources link ---------------*/

/*--------------- phet resources ---------------*/